{%- for i in range(8) %}
{%- set site = i // 2 + 1 %}
{%- set module = i // 4 + 1 %}
{%- set port = i % 4 %}

{%- if i % 2 %}
vrf definition SITE{{ site }}-INET
 rd {{ site }}:{{ 1 }}
 address-family ipv4 
!
int e{{ module }}/{{ port }}
 no shut
 vrf forwarding  SITE{{ site }}-INET
 ip address 20.1.{{site}}.100 255.255.255.0
!
interface loopback{{ i }}
 vrf forwarding  SITE{{ site }}-INET
 ip address 20.0.0.{{ site }} 255.255.255.255
!
 
router bgp 65002
 no auto-summary
 no sync
 no bgp default ipv4-unicast
 address-family ipv4 vrf SITE{{ site }}-INET
  neighbor 20.1.{{ site }}.1 remote-as 65001
  redistribute connected
 !
!
{%- else %}

vrf definition SITE{{ site }}-VPN
 rd {{ site }}:{{ 2 }}
 address-family ipv4 
!
int e{{ module }}/{{ port }}
 no shut
 vrf forwarding  SITE{{ site }}-VPN
 ip address 30.1.{{site}}.100 255.255.255.0
!
interface loopback{{ i }}
 vrf forwarding  SITE{{ site }}-VPN
 ip address 30.0.0.{{ site }} 255.255.255.255
!
 
router bgp 65002
 no auto-summary
 no sync
 no bgp default ipv4-unicast
 address-family ipv4 vrf SITE{{ site }}-VPN
  neighbor 30.1.{{ site }}.1 remote-as 65001
  redistribute connected
 !
!
{%- endif %}

{%- endfor %}